version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: miniblog
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
